@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.form{
    width: 100%;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form2{
    width: 100%;
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageuploader{
    width: 402px;
    height: 469px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.boxbar{
    width: 452px;
    height: 159px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.drag-area{
    margin: auto;
    width: 338px;
    height: 218.9px;
    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;
}
.header{
    width: 165px;
    height: 26.99px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    margin: auto;
    margin-top: 36px;
}
.types{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #828282;
    width: 121px;
    height: 14.99px;
    margin: auto;
    margin-top: 18.98px;
    margin-bottom: 18.98px;
}
.drag-area img{
    margin-top: 38.54px;
}
.drag-area p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
    margin-top: 25px;
}
.or{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #BDBDBD;
}
.urtoimg p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    padding-left: 6px;
}
.btntocopy button{
    width: 74px;
    height: 30px;
    background: #2F80ED;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    cursor: pointer;
}
label{
    background-color: #2F80ED;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}